.community-responsibility-title{
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #8c6239;
    margin-bottom: 20px;
}
.community-responsibility-content{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 20px;
}
.community-responsibility-bold{
    font-weight: bold;
}
.community-responsibility-italic{
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin-top: 40px;
}