#root,body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.bg-light-green {
  background-color: #D7F4A8;
}

.footer button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}