.header a {
    position: relative;
    text-decoration: none;
    color: #212529;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    padding: px 0; /* thêm padding để dễ nhìn hơn */
}

.header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 0.4s ease;
}

.header a:hover::after {
    width: 100%;
}

.header .logo-link::after {
    display: none;
}