.product-intro {
    width: 100%;
    height: 600px; 
    overflow: hidden;
  }
  
  .carousel-inner, .carousel-item {
    height: 100%;
  }
  
  .product-image {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .product-image img, 
  .product-image video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hình ảnh và video đều phủ hết */
  }
  
  .product-info {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D5EA9B;
  }
  
  .bg-light-green {
    background-color: #D5EA9B;
  }
  
  .bg-3 {
    background-color: #EDE0CC;
  }

  .bg-2 {
    background-color: #FAE537;
  }

  section {
    margin-bottom: 30px;
  }

  .section-2 {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/section2_image.jpg");

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.section-2-content {
    background-color: white;
    width: 600px;
    height: 300px;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.section-3-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
} 

.section-3-content-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.section-3-content h4 {
    font-size: 16px;
}

.section-3-content h5 {
    font-size: 12px;
}